/* Skills Section */
#skills {
  padding-top: 100px;

  /* baclground image */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/83/Background_coders.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 50px;
  
}

#skills .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.skill-list {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
} 

.skill {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  height: 160px;
  text-align: center;
}

.skill-logo {
  width: 100px; /* Adjust logo size */
  height: 70px;
  margin-bottom: 10px;
  object-fit: contain; /* Ensures the logo doesn't stretch */
  transition: transform 0.3s ease; /* Smooth scaling transition */
}

.skill:hover .skill-logo {
  animation: rotateLogo 0.3s infinite linear; /* Faster continuous rotation */
  transform: scale(2); /* Double the size of the logo on hover */
}

.skill span {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

/* Keyframes for rotation */
@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
